body {
    background-color: #2E4369;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.logo img {
    width: 272px;
    height: 92px;
    animation: blink 4s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
